@model EnergieBewustLeven.MVC.Models.ApplianceDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayNameFor(model => model.ApplianceName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplianceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplianceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplianceBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplianceBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Gemeten vebruik:")
        </dt>
        @foreach (var item in Model.Measurements)
        {
            <div>
                <dd class="col-sm-10">
                    @(item.Verbruik) kWh
                </dd>
            </div>
        }
    </dl>
    <h5>User Reviews</h5>
    <table>
        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ReviewScore)*@
                    @(item.ReviewScore)/10
                </td>
            </tr>
        }
    </table>
</div>
<div class="button-container">
    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-controller="Measurements" asp-action="Create" asp-route-id="@Model?.ApplianceId">Meting toevoegen</a>
    }
    <a class="btn btn-primary" asp-action="Index">Terug naar apparaten</a>
</div>

<style>
 /*   table {
        width: 100%;
    }*/

    td {
        padding: 8px;
    }

    .button-container {
        margin-top: 50px;
    }

/*    .btn {
        margin-right: 10px; 
    }*/
</style>
