@model IEnumerable<EnergieBewustLeven.API.Models.DTO.ApplianceDTO>

@{
    ViewData["Title"] = "Apparatenlijst";
}

<h1>Alle apparaten: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Device Naam")
            </th>
            <th>
                @Html.DisplayName("Device Merk")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details bekijken</a> |
                    <a class="btn btn-primary" asp-action="" asp-route-id="@item.Id">Vergelijken</a>
                </td>
            </tr>   
        }
    </tbody>
</table>
