@model IEnumerable<EnergieBewustLeven.API.Models.DTO.ReviewDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Alle reviews: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Review Id")
            </th>
            <th>
                @Html.DisplayName("Apparaat id")
            </th>
            <th>
                @Html.DisplayName("Review inhoud")
            </th>
            <th>
                @Html.DisplayName("Review Score")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplianceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewScore)
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
