@model EnergieBewustLeven.API.Models.DTO.MeasurementDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Wil u deze meting verwijderen?</h1>
<div>
    <h4>Measurement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Meting ID:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Apparaat ID:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplianceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Gemeten verbruik:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verbruik)
        </dd>
    </dl>

    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Meting verwijderen" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="AdminIndex">Terug naar de lijst</a>
    </form>
</div>